*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

//set browser uniformity font size to always be 10
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

main {
    width: 100%;
    margin: 0 auto;
    min-height: 80vh;
}

@media screen and (min-width: 1024px) {
    main {
        width: 33%;
    }
}