.u-font-color-purple{ color: $color-primary-purple !important; }

.u-font-size-small { font-size: 1.2rem !important; }

.u-margin-bottom-smallest { margin-bottom: 2rem !important; }

.u-margin-left-medium { margin-left: 15% !important; }
.u-margin-right-medium { margin-right: 15% !important; }