//Colors
$color-primary-purple: #2C0066;
$color-secondary-purple: #400071;

$color-white-1: #FFF;
$color-white-2: #F5F5F5;

$color-grey-1: #D8D8D8;
$color-grey-2: #C2C2C2;

$color-black-1: #0A0A0A;

$color-blue-1: #1DECF7;

//Fonts
$default-font: 'Montserrat', sans-serif;
$default-font-size: 1.6rem;