//Colors
$color-primary-purple: #2C0066;
$color-secondary-purple: #400071;

$color-white-1: #FFF;
$color-white-2: #F5F5F5;
$color-white-3: #F3F3F3;

$color-grey-1: #D8D8D8;
$color-grey-2: #C2C2C2;
$color-grey-3: #E0E0E0;
$color-grey-4: #707070;

$color-black-1: #0A0A0A;

$color-blue-1: #1DECF7;

//Fonts
$default-font: 'Montserrat', sans-serif;
$default-font-size: 1.6rem;

//Standard Purple border
$wrapper-border: .5rem solid $color-primary-purple;