.btn {
    text-transform: uppercase;
        text-decoration: none;
        padding: 1rem;
        display: inline-block;
        border-radius: 2rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        border: none;
        cursor: pointer;
}