.progress {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2.5rem;
    border-radius: 2rem;
    background: linear-gradient(to right, $color-red-1, $color-blue-1);
    text-align: center;

    &__bar {
        border-radius: 1rem;
        // width: 90%;
        height: 100%;
        transition: width;
        transition-duration: 1s;
        transition-timing-function: ease-out;
    }

    &__percent {
        position: absolute;
        top: 20%;
        left: 48%;
        font-weight: 700;
    }
}