.reel {
    margin: 4rem 0;
    padding: 3rem 0;
    animation: fadeIn 1.5s ease-in backwards;

    &:not(:last-child) {
        border-bottom: .2rem solid $color-primary-purple;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: inline-block;
        
    }

    &__name {
        display: flex;
        flex-direction: column;
        font-weight: 700;

        .product {
            display: flex;
            flex-direction: column;
            margin-bottom: .5rem;
        }
    }

    &__image {
        width: 10rem;
    }
}