.reel {
    margin: 4rem 0;
    padding: 3rem 0;
    animation: fadeIn 1.5s ease-in backwards;
    position: relative;

    &:not(:last-child) {
        border-bottom: .2rem solid $color-primary-purple;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: inline-block;
        
    }

    &__name {
        display: flex;
        flex-direction: column;
        font-weight: 700;

        .product {
            display: flex;
            flex-direction: column;
            margin-bottom: .5rem;
        }
    }

    &__image {
        width: 10rem;
    }

    &__overlay {
        position: absolute;
        width: 102%;
        height: 100%;
        left: -1%;
        top: 5%;
        border-radius: 1rem;
        background: linear-gradient(to right, $color-red-1, $color-blue-1);
        opacity: .7;
        margin: 0 auto;
        transition: all 1s;
    }
}