.footer {
    // position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: .1rem solid $color-grey-3;
    border-bottom: $wrapper-border;

    &__list {
        display: flex;
        justify-content: space-evenly;
        height: 4rem;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        list-style-type: none;
    }

    &__link {
        display: block;
    }

    &__image {
        width: 2.5rem;
        height: 2.5rem;
    }

    &__copyright {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $color-grey-4;
        font-size: 1.2rem;
        line-height: 3;
    }

    &__icon {
        vertical-align: middle;
        margin: 0 .5rem;
    }

    &__geo {
        display: inline-block;
        margin: 0 .5rem;
    }
}