.header {
    border-top: .5rem solid $color-primary-purple;

    &__list {
        min-height: 3.2rem;
        align-items: center;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        background-color: $color-white-2;
    }

    &__item {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
        cursor: pointer;

        a, a:visited {
            text-decoration: none;
            color: $color-black-1;
        }

        &:first-of-type {
            margin-left: 1rem;
        }

        &:last-of-type {
            margin-right: 1rem;
        }
    }

    &__item:hover {
        color: $color-grey-2;
    }
}