.navigation {
    width: 100%;
    margin: 0 auto;
    
    &__list {
        list-style-type: none;
        display: flex;
        width: 100%;
        margin: 0 auto;
    }

    &__item {
        width: 15%;
        text-align: center;
        margin: auto;

        &:nth-child(3n) {
            width: 40%;
        }
    }

    &__image {
        text-decoration: none;
        width: 4.8rem;
    }

    &__cart {
        position: absolute;
        
    }
}

@media screen and (min-width: 1024px) {
    .navigation__list {
        width: 33%;
    }
}